## Invertendo linhas e colunas no Pandas

### *.stack, .unstack e .pivot*

In [1]:
# Importando bibliotécas

import pandas as pd

In [2]:
# stack

df = pd.read_csv("data/clientes.csv", usecols=['idCliente', 'flEmail', 'flTwitch', 'flYouTube', 'flBlueSky', 'flInstagram'])

# Empilhando colunas em linhas

df_stack = (df.set_index('idCliente')
              .stack()
              .reset_index())

df_stack.columns = ['idCliente', 'RedeSocial', 'Valor']

df_stack.head()

                              idCliente   RedeSocial  Valor
0  000ff655-fa9f-4baa-a108-47f581ec52a1      flEmail      0
1  000ff655-fa9f-4baa-a108-47f581ec52a1     flTwitch      0
2  000ff655-fa9f-4baa-a108-47f581ec52a1    flYouTube      0
3  000ff655-fa9f-4baa-a108-47f581ec52a1    flBlueSky      0
4  000ff655-fa9f-4baa-a108-47f581ec52a1  flInstagram      0

In [3]:
# unstack

# Desempilhando linhas em colunas

df_unstack = (df_stack.set_index(['idCliente', 'RedeSocial'])
                      .unstack()
                      .reset_index())

# Tratando Multindex das colunas

redes = df_unstack.columns.droplevel().tolist()[1:]
df_unstack.columns = ['idCliente'] + redes

df_unstack.head()

,idCliente,flBlueSky,flEmail,flInstagram,flTwitch,flYouTube
0,000ff655-fa9f-4baa-a108-47f581ec52a1,0,0,0,0,0
1,001749bd-37b5-4b1e-8111-f9fbba90f530,0,0,0,0,0
2,0019bb9e-26d4-4ebf-8727-fc911ea28a92,0,0,0,0,0
3,0033b737-8235-4c0f-9801-dc4ca185af00,0,0,0,1,0
4,00684343-40b5-4ce7-b2e8-71a5340973bf,0,0,0,0,0

In [4]:
# pivot_table

# Pivoetando tabela com agregação

df_pivot = (df_stack.pivot_table(values='Valor',
                                 index=['idCliente'],
                                 columns='RedeSocial',
                                 aggfunc='sum')
                    .reset_index())

df_pivot.head()

RedeSocial,idCliente,flBlueSky,flEmail,flInstagram,flTwitch,flYouTube
0,000ff655-fa9f-4baa-a108-47f581ec52a1,0,0,0,0,0
1,001749bd-37b5-4b1e-8111-f9fbba90f530,0,0,0,0,0
2,0019bb9e-26d4-4ebf-8727-fc911ea28a92,0,0,0,0,0
3,0033b737-8235-4c0f-9801-dc4ca185af00,0,0,0,1,0
4,00684343-40b5-4ce7-b2e8-71a5340973bf,0,0,0,0,0