## Filtragem de dados no Pandas

### Operação muito importante em dados onde os dados de um df são filtrados a partir de uma operação lógica

In [ ]:
# Importando bibliotécas

import pandas as pd

In [ ]:
# Filtrando base de teste

df_filtro = pd.DataFrame(
    {
        "nome": ['Smaley', 'Jeniffer', 'Evelyn', 'Kevin'],
        "idade": [32, 31, 12, 5],
        "cidades_n": ['SGN', 'NLP', 'RJN', 'RJN']
    }
)

# Filtrando dataframe onde idade maior que 18 anos

filtro = df_filtro["idade"] > 18

df_filtro[filtro].head()

       nome  idade cidades_n
0    Smaley     32       SGN
1  Jeniffer     31       NLP

In [ ]:
# Filtrando base real

df = pd.read_csv("../data/transacoes.csv")

# Filtrando transações cujo a quantidade de pontos é maior que 50

filtro = df["qtdePontos"] >= 50

df[filtro].head()

,idTransacao,idCliente,dtCriacao,qtdePontos,descSistemaOrigem
6207,08a02e80-1e3f-424f-a421-02b120877564,24782f0b-4683-4f35-976a-ea21d6714ba6,2024-03-25 11:57:36.706,50,twitch
26484,24eed2c1-b496-461b-841e-a3c46ad367c5,0d19c800-9723-4aca-b3ba-3cf779044f9b,2024-07-01 11:57:29.925,100,twitch
108900,986e2ade-7836-4acb-8bca-76ec3ef9f456,961622c3-3c29-4fa1-88d2-4f408d6d6ebb,2024-07-15 11:51:56.070,50,twitch
106270,94c582f9-a979-40c2-bf6b-0545f238bbd8,014b7774-561a-4a58-93d7-070667df90fb,2024-02-06 11:55:02.745,50,twitch
108577,97ff3a7f-11de-46d9-b9b8-7b36951d3574,10c08e57-d0b1-4811-8282-9fcc6413468e,2024-06-12 12:11:40.477,50,twitch

### Filtrando com base em mais de uma condição

In [ ]:
# Filtrando pontos > 50 e < 100 usando operador "&"

filtro = (df["qtdePontos"] >= 50) & (df["qtdePontos"] <= 100) 
# filtro = (df["qtdePontos"] >= 50) * (df["qtdePontos"] <= 100) 

df[filtro].head()

,idTransacao,idCliente,dtCriacao,qtdePontos,descSistemaOrigem
159318,defb6bff-e07a-4ce8-ad52-d872a3186d0b,b0f01ec6-3cc6-4c67-a086-a378b5eeb030,2024-07-04 12:12:11.420,50,twitch
116051,a25da6e5-aa86-4070-bd42-50bee396da24,1b08989c-039d-4c82-879b-0f56159a1ebb,2025-01-09 11:31:56.159,50,twitch
101123,8d9f1ee2-da3f-4c2e-b542-9eca8bf5cb7e,2d3d2dce-d353-4961-ad39-46723efe2100,2024-06-17 14:04:02.503,50,twitch
148026,cf197211-0929-45bd-b11c-ee9a8fe55480,d6b1197e-727d-4656-91e2-385901fedb56,2024-02-26 22:35:03.818,50,twitch
5351,0772217e-ea45-431d-bc46-42e909e96080,bafe76c1-7463-4745-a7d3-4ce24c03266c,2024-10-04 12:30:09.999,50,twitch

In [ ]:
# Filtrando pontos = 1 ou pontos = 100 usando operador "|"

filtro = (df["qtdePontos"] >= 50) | (df["qtdePontos"] <= 100)
# filtro = (df["qtdePontos"] >= 50) + (df["qtdePontos"] <= 100)

df[filtro].head()

,idTransacao,idCliente,dtCriacao,qtdePontos,descSistemaOrigem
42693,3bb518dc-0f88-4952-9242-bc8a3a730e58,2d7f6b3f-9366-44c1-9663-beb5f7e1254e,2024-04-08 19:45:12.669,1,twitch
18192,19424039-d0e6-4f1c-bc5b-f02d863b6de1,4ae7fd3e-d286-4156-ad7f-553e46c683ea,2024-09-25 12:15:54.440,1,twitch
86493,7910f0aa-907f-4daa-9451-86efb6f61bc9,65662aff-44d6-4f06-b9d9-07445c6e5943,2024-08-30 12:43:30.005,1,twitch
118216,a56300fe-877f-423e-b06f-0db90b28cdf9,4fade907-6e0f-4581-a674-aad6622b1b10,2024-12-09 12:41:15.781,1,twitch
143250,c8614549-74c1-49f0-9d08-b0d85a720cfe,6313ceac-7806-4d34-aedd-476eed7c853a,2024-10-07 11:46:48.262,1,twitch

In [ ]:
# Filtrando pontos > 0 e < 50, e data >=2025

filtro = (df["qtdePontos"] > 0) & (df["qtdePontos"] < 50) & (df["dtCriacao"] >= '2025-01-01')
# filtro = (df["qtdePontos"] > 0) * (df["qtdePontos"] < 50) * (df["dtCriacao"] >= '2025-01-01')

df[filtro].head()

,idTransacao,idCliente,dtCriacao,qtdePontos,descSistemaOrigem
28400,278f8bbb-e7e5-48ee-96d4-8cc6ad0d89d8,fcda54f6-b9e9-41cf-b255-0594d9947d1b,2025-02-18 12:45:53.328,1,twitch
52125,48e7fb9f-a994-4c5b-b688-0bb0220dcd53,24782f0b-4683-4f35-976a-ea21d6714ba6,2025-02-14 13:09:38.357,1,twitch
95047,8526c155-bbc3-4351-8ebe-2f186ad469ce,6328aab6-c219-49fd-8ca6-633b8af6bf81,2025-02-11 12:58:06.949,1,twitch
171792,f05e9a83-778e-4b50-af13-b9ee75eb285f,25f9f08f-a7df-4f24-8f24-be3402759d4e,2025-02-10 12:21:24.684,1,twitch
129177,b4dbd995-760f-420c-9aab-a423854c39c8,65662aff-44d6-4f06-b9d9-07445c6e5943,2025-01-22 12:11:44.476,1,twitch

In [ ]:
#Filtrando pontos > 0 e < 50, ou data >=2025

filtro = (df["qtdePontos"] > 0) & (df["qtdePontos"] < 50) | (df["dtCriacao"] >= '2025-01-01')
# filtro = (df["qtdePontos"] > 0) * (df["qtdePontos"] < 50) + (df["dtCriacao"] >= '2025-01-01')

df[filtro].head()

,idTransacao,idCliente,dtCriacao,qtdePontos,descSistemaOrigem
49835,45ab7a61-14ec-4800-8931-23cd2d9714b9,fcc8b9ed-4ccc-4826-8f68-455c83fd9383,2024-07-01 13:10:54.595,1,twitch
126502,b1004543-c10d-4cc3-b7f3-b903179b3bd7,5f8fcbe0-6014-43f8-8b83-38cf2f4887b3,2024-02-29 22:48:48.018,1,twitch
149349,d0f4f39d-145c-440a-9edb-49a4fa071ad6,5f8fcbe0-6014-43f8-8b83-38cf2f4887b3,2025-01-07 11:39:27.306,1,twitch
140874,c513790d-bd38-48dc-aafa-9b587ed76749,74c06e4d-0d4f-48f1-96af-a03c7b18ce47,2024-03-12 23:21:41.577,1,twitch
111415,9beb6a87-9990-4839-a814-434a5766f559,8168cff8-9e53-4035-af3a-f92fdb1676ac,2024-12-11 12:15:07.643,1,twitch

### Filtrando com uso de Métodos

In [ ]:

# Usando método '.isin' e passando uma lista

df_novo =pd.read_csv("../data/transacao_produto.csv")

# filtro = (df_novo['idProduto'] == 1) | (df_novo['idProduto'] == 5)
filtro = df_novo['idProduto'].isin([1,5])

df_novo[filtro].head()

,idTransacaoProduto,idTransacao,idProduto,qtdeProduto,VlProduto
95511,863d4d69-5b0d-40bc-9fc5-ece294afcf6c,b3489d91-59e6-4620-b6d4-999247ec590f,5,1,1
148584,d03d17f1-4759-4e21-9051-d4165f72a676,8a62b378-8809-48ed-bd30-31aaec5f5f1a,5,1,1
46234,4089a559-0029-4cf0-9f14-e85fbfe41d80,3c0c7d0e-4491-4ec2-ae4e-4343b6c7c6ab,5,1,1
74838,68ebd5a1-2209-4e5d-ad88-f0823b0a4d0e,40844822-c2c0-4137-8187-2b55d64b8492,5,1,1
92228,81b2a3ee-2729-4fd0-b917-0684866b14e9,1be15786-fb77-4bc6-a1fe-b1608080deea,5,1,1

In [ ]:

# Usando método '.notna', filtrando não vazias

df_novo2 =pd.read_csv("../data/clientes.csv")

# filtro = ~df_novo2['dtCriacao'].isna()
filtro = df_novo2['dtCriacao'].notna()

df_novo2[filtro].head()

,idCliente,flEmail,flTwitch,flYouTube,flBlueSky,flInstagram,qtdePontos,dtCriacao,dtAtualizacao
2125,dcc75bc4-1e9f-4bf6-a268-720a24df878a,0,1,0,0,0,3,2025-01-24 13:15:29.144,2025-01-24 13:18:28.308
32,032a9f21-2dc3-4edd-a757-21d8ba63ce66,0,1,0,0,0,1118,2024-10-30 11:38:33.050,2025-01-07 12:34:53.338
1696,af83a281-f023-473b-835a-d407d09f3dc2,0,1,0,0,0,200,2025-01-23 12:16:50.722,2025-01-30 10:55:08.130
2190,e3f90e5e-e29f-41d7-ab38-c74e9f5697af,0,1,0,0,0,57,2025-02-10 11:38:37.979,2025-02-10 13:13:35.553
1447,94df0701-a236-4b39-9f3c-f6e8e1756cb5,0,1,0,0,0,51,2025-02-21 12:10:03.399,2025-02-21 12:33:02.008