In [ ]:
import pandas as pd

idades = [
    32, 38, 30, 30, 31,
    35, 25, 29, 31, 37,
    27, 23, 36, 33, 39
]

letras = [
    'a', 'b', 'c', 'd', 'e',
    'f', 'g', 'h', 'i', 'j',
    'k', 'l', 'm', 'n', 'o'
]

series_idades = pd.Series(idades)
series_letras = pd.Series(letras)

In [ ]:
 
df = pd.DataFrame() # Criando dataframe vazio

df['idades'] = series_idades
df['letras'] = series_letras

df

In [ ]:

df['letras']