## DataFrames no Pandas

### Características:

- Conjunto de Valores bidimensional
- Agrupamento de Series Pandas
- Ordenado - A ordem defini o índices dos elementos
- Comportamento parecido com Tabelas
- Estrutura mais usada em manipulação de dados

In [14]:
# Importando bilibotécas

import pandas as pd

In [15]:
# CRIANÇÃO

df_pandas = pd.DataFrame() #Explícta apenas

idades = [
    32, 38, 30, 30, 31,
    35, 25, 29, 31, 37,
    27, 23, 36, 33, 39
]

letras = [
    'a', 'b', 'c', 'd', 'e',
    'f', 'g', 'h', 'i', 'j',
    'k', 'l', 'm', 'n', 'o'
]

series_idades = pd.Series(idades)
series_letras = pd.Series(letras)

# Criando e atribuindo dados no dataframe

df_pandas['idades'] = series_idades
df_pandas['letras'] = series_letras

print(df_pandas)

    idades letras
0       32      a
1       38      b
2       30      c
3       30      d
4       31      e
5       35      f
6       25      g
7       29      h
8       31      i
9       37      j
10      27      k
11      23      l
12      36      m
13      33      n
14      39      o

### Navegando nos dados:

- `dataframe[ i ]` - Acessa Campos/Colunas a partir do nome do campo 
- `dataframe.loc[ i ]` - Acessa Registros/Linhas a partir do índice
- `dataframe.iloc[ i ]` - Acessa Registros/Linhas a partir da Posição

In [16]:
# dataframe[ i ] 

navega_df = df_pandas['letras']
print('df na coluna de nome "letras":', '\n', navega_df, '\n') 

navega_df = df_pandas['idades']
print('df na coluna de nome "idades":', '\n', navega_df, '\n')

df na coluna de nome "letras":
 0     a
1     b
2     c
3     d
4     e
5     f
6     g
7     h
8     i
9     j
10    k
11    l
12    m
13    n
14    o
Name: letras, dtype: object

df na coluna de nome "idades":
 0     32
1     38
2     30
3     30
4     31
5     35
6     25
7     29
8     31
9     37
10    27
11    23
12    36
13    33
14    39
Name: idades, dtype: int64

In [17]:
# dataframe.loc[ i ] 

indexs = [
    'i', 'ii', 'iii', 'iv', 'v',
    'vi', 'vii', 'viii', 'ix', 'x',
    'xi', 'xii', 'xiii', 'xiv', 'xv'
]

df_pandas.index = indexs # Alterando index
print(df_pandas, '\n')

navega_df = df_pandas.loc['xii']
print('df na linha de índice "xii":', '\n', navega_df) # Acessa índice da linha

      idades letras
i         32      a
ii        38      b
iii       30      c
iv        30      d
v         31      e
vi        35      f
vii       25      g
viii      29      h
ix        31      i
x         37      j
xi        27      k
xii       23      l
xiii      36      m
xiv       33      n
xv        39      o

df na linha de índice "xii":
 idades    23
letras     l
Name: xii, dtype: object

In [18]:
# dataframe.iloc[ i ] 

navega_df = df_pandas.iloc[0]
print('df na linha da primeira posição:', '\n', navega_df) # Acessa posição da linha

navega_df = df_pandas.iloc[-2]
print('\n', 'df na linha da penultima posição:', '\n', navega_df)

df na linha da primeira posição:
 idades    32
letras     a
Name: i, dtype: object

 df na linha da penultima posição:
 idades    33
letras     n
Name: xiv, dtype: object

### Outras formas úteis de navegação:

- `dataframe.loc[ i, "coluna" ]` - Acessa um valor específico a partir do índice da linha e nome da coluna 
- `dataframe.iloc[ i, j ]` - Acessa um valor específico pela posição numérica da linha e da coluna
- `dataframe.loc[ i : j ]` - Slicer de linhas baseado no índice
- `dataframe.iloc[ i : j ]` - Slicer de linhas baseado na posição

In [19]:
# dataframe.loc[ i, "coluna" ]

navega_valor = df_pandas.loc['v', 'letras']
print("valor no índice 'v' e na coluna 'letras':", '\n', navega_valor)

navega_valor = df_pandas.loc['x', 'letras']
print("valor no índice 'x' e na coluna 'letras':", '\n', navega_valor)

# dataframe.iloc[ i, j ]

navega_valor = df_pandas.iloc[5, 1]
print("valor na linha posição 5 e na coluna de posição 1:", '\n', navega_valor)

navega_valor = df_pandas.iloc[-1, 0]
print("valor na última posição e na coluna de posição 0", '\n', navega_valor)

valor no índice 'v' e na coluna 'letras':
 e
valor no índice 'x' e na coluna 'letras':
 j
valor na linha posição 5 e na coluna de posição 1:
 f
valor na última posição e na coluna de posição 0
 39

In [20]:
# dataframe.loc[ i : j ]

navega_slice = df_pandas.loc['viii': 'xiii']
print("linhas do índice 'viii' ao índice 'xiii':", '\n', navega_slice, '\n')

navega_slice = df_pandas.loc['x':'xv']
print("linhas do índice 'x' ao índice 'xv':", '\n', navega_slice, '\n')

navega_slice = df_pandas.loc['iii':'i':-1]
print("linhas do índice 'iii' ao índice 'i':", '\n', navega_slice, '\n') # Reverse

navega_slice = df_pandas.loc['i':'ii':,'letras']
print("linhas do índice 'i' ao índice 'ii' na coluna 'letras':", '\n', navega_slice, '\n')

linhas do índice 'viii' ao índice 'xiii':
       idades letras
viii      29      h
ix        31      i
x         37      j
xi        27      k
xii       23      l
xiii      36      m

linhas do índice 'x' ao índice 'xv':
       idades letras
x         37      j
xi        27      k
xii       23      l
xiii      36      m
xiv       33      n
xv        39      o

linhas do índice 'iii' ao índice 'i':
      idades letras
iii      30      c
ii       38      b
i        32      a

linhas do índice 'i' ao índice 'ii' na coluna 'letras':
 i     a
ii    b
Name: letras, dtype: object

In [21]:

# dataframe.iloc[ i : j ]

navega_slice = df_pandas.iloc[7: 10]
print("linhas na posição 8 até posição 10:", '\n', navega_slice, '\n')

navega_slice = df_pandas.iloc[2:8]
print("linhas na posição 3 até posição 8:", '\n', navega_slice, '\n')

navega_slice = df_pandas.iloc[0:7:2]
print("linhas na posição 0 até posição 6 pulando um:", '\n', navega_slice, '\n') # Jump

navega_slice = df_pandas.iloc[:, 0:2]
print("todas as linhas nas colunas de posição 0 até posição 1:", '\n', navega_slice, '\n')

linhas na posição 8 até posição 10:
       idades letras
viii      29      h
ix        31      i
x         37      j

linhas na posição 3 até posição 8:
       idades letras
iii       30      c
iv        30      d
v         31      e
vi        35      f
vii       25      g
viii      29      h

linhas na posição 0 até posição 6 pulando um:
      idades letras
i        32      a
iii      30      c
v        31      e
vii      25      g

todas as linhas nas colunas de posição 0 até posição 1:
       idades letras
i         32      a
ii        38      b
iii       30      c
iv        30      d
v         31      e
vi        35      f
vii       25      g
viii      29      h
ix        31      i
x         37      j
xi        27      k
xii       23      l
xiii      36      m
xiv       33      n
xv        39      o

### Colunas:

In [22]:
# Selecinando Colunas

df_pandas['letras'] # retorna uma series

df_pandas[['letras']] # retorna um df de uma coluna

df_pandas[['letras', 'idades']] # retorna um df de mais de uma coluna

     letras  idades
i         a      32
ii        b      38
iii       c      30
iv        d      30
v         e      31
vi        f      35
vii       g      25
viii      h      29
ix        i      31
x         j      37
xi        k      27
xii       l      23
xiii      m      36
xiv       n      33
xv        o      39

In [23]:
# Renomeando Colunas

series_numeros = pd.Series([*range(15)], index= indexs) + 1
df_pandas['numeros'] = series_numeros

df_pandas = df_pandas.rename(columns={"numeros": "a", "letras": "b"}) # recebe um dicionário contendo antes/depois para renomear

df_pandas.rename(columns={"idades": "c"}, inplace=True) # inplace anula necessidade de reatribuição

df_pandas

       c  b   a
i     32  a   1
ii    38  b   2
iii   30  c   3
iv    30  d   4
v     31  e   5
vi    35  f   6
vii   25  g   7
viii  29  h   8
ix    31  i   9
x     37  j  10
xi    27  k  11
xii   23  l  12
xiii  36  m  13
xiv   33  n  14
xv    39  o  15

In [24]:
# Ordenando por ordem alfabética

colunas = df_pandas.columns.to_list()
colunas.sort()

df_pandas[colunas]

       a  b   c
i      1  a  32
ii     2  b  38
iii    3  c  30
iv     4  d  30
v      5  e  31
vi     6  f  35
vii    7  g  25
viii   8  h  29
ix     9  i  31
x     10  j  37
xi    11  k  27
xii   12  l  23
xiii  13  m  36
xiv   14  n  33
xv    15  o  39

### Funções úteis:

In [25]:
# Atributos

print("Exibindo a quantidade de linhas e colunas com atributo '.shape':", '\n', df_pandas.shape, '\n')

print("Exibindo nomes de colunas em lista com atributo '.columns':", '\n',df_pandas.columns, '\n') 

print("Exibindo labels dos índices com atributo '.index':", '\n',df_pandas.index, '\n')

print("Exibindo tipagem de dados por coluna com atributo '.dtypes':", '\n',df_pandas.dtypes, '\n')

Exibindo a quantidade de linhas e colunas com atributo '.shape':
 (15, 3)

Exibindo nomes de colunas em lista com atributo '.columns':
 Index(['c', 'b', 'a'], dtype='object')

Exibindo labels dos índices com atributo '.index':
 Index(['i', 'ii', 'iii', 'iv', 'v', 'vi', 'vii', 'viii', 'ix', 'x', 'xi',
       'xii', 'xiii', 'xiv', 'xv'],
      dtype='object')

Exibindo tipagem de dados por coluna com atributo '.dtypes':
 c     int64
b    object
a     int64
dtype: object

In [26]:
# Métodos

print("Exibindo primeiras 3 linhas com método '.head(3)':", '\n', df_pandas.head(3), '\n') # 5 linhas por defaut caso não informado 

print("Exibindo últimas 3 linhas com método '.tail(3)':", '\n', df_pandas.tail(3), '\n') # 5 linhas por defaut caso não informado

print("Exibindo 3 linhas escolhidas aleatóriamente com método '.sample(3)':", '\n', df_pandas.sample(3), '\n') # 5 linhas por defaut caso não informado

print("Exibindo informações gerais com método '.info()':", '\n', df_pandas.info(), '\n') # memory usage = 'deep' motras consumo real de memoria

Exibindo primeiras 3 linhas com método '.head(3)':
       c  b  a
i    32  a  1
ii   38  b  2
iii  30  c  3

Exibindo últimas 3 linhas com método '.tail(3)':
        c  b   a
xiii  36  m  13
xiv   33  n  14
xv    39  o  15

Exibindo 3 linhas escolhidas aleatóriamente com método '.sample(3)':
        c  b   a
iii   30  c   3
xv    39  o  15
xiii  36  m  13

<class 'pandas.core.frame.DataFrame'>
Index: 15 entries, i to xv
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   c       15 non-null     int64
 1   b       15 non-null     object
 2   a       15 non-null     int64
dtypes: int64(2), object(1)
memory usage: 1.0+ KB
Exibindo informações gerais com método '.info()':
 None